@font-face {
  font-family: "Karla";
  src: url("../font/Karla/Karla-Italic-VariableFont_wght.ttf");
}

/* # === Global Settings === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_font: "Karla";
  --head_color: #323a45;
  --color_gray: #848484;
  --color_black: #000;
}

body {
  font-family: var(--main_font);
  padding: 0 40px;
}

/* # === Header === */

.header_container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.header_container h1 {
  font-size: 1.25rem;
}

.header_container a {
  color: var(--head_color);
  text-decoration: none;
  text-transform: uppercase;
}

.header_container ul {
  display: flex;
  list-style: none;
  column-gap: 60px;
  font-size: 0.625rem;
}

/* # === MAIN === */

.main_container > * {
  padding-bottom: 60px;
}

.name,
.company,
.price {
  font-size: 0.9375rem;
}

.name a {
  color: var(--color_black);
  text-decoration: none;
}

.company {
  color: var(--color_gray);
  padding-top: 5px;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

img:hover {
  opacity: 40%;
}

.info_container {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.six_products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  gap: 40px 20px;
}

/* # === FOOTER === */

.footer_container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr)); */
  font-size: 0.75rem;
}

.footer_container h3 {
  font-size: 0.8125rem;
  font-weight: 700;
  padding-bottom: 40px;
}

.designed_by {
  width: 80%;
}

.designed_by > span {
  font-weight: 700;
}

.contacts {
  font-size: 0.625rem;
}

.subscribe a {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.socialmedia {
  list-style-type: none;
}

.socialmedia a {
  font-size: 0.625rem;
  color: inherit;
  text-decoration: none;
}

.copyright {
  font-size: 0.625rem;
  padding: 44px 0 5px;
  color: var(--color_gray);
}

/* # === MEDIA-QUERRYS === */

@media (max-width: 768px) {
  .footer_container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }

  .footer_container h3 {
    padding-bottom: 20px;
  }
}

@media (max-width: 512px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
